@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@600&family=Itim&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://images3.alphacoders.com/591/591067.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  font-family: "Indie Flower";
}
.header {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.h1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.imagenTitulo {
  width: 280px;
  height: 180px;
}
.imagenFamilia {
  width: 260px;
  height: 210px;
}
main {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h2 {
  width: 80%;
  height: 4vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #4A9F2D;
  border: 5px solid #347e19d3;
  padding: 5px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  font-size: larger;
  font-family: "Indie Flower";
}
.menu{
  width: 90%;
  height: 8vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #4A9F2D;
  border: 5px solid #347e19d3;
  padding: 0px;
  margin: 10px;
  border-radius: 30px;
  font-size: larger;
  font-family: "Indie Flower";
}
label {
  color: #254805;
  font-family: "Indie Flower";
  font-size: x-large;
  font-weight: 900;
  margin-right: 10px;
}
select {
  margin-right: 10px;
  padding: 5px;
  border: 3px solid #227000;
  border-radius: 5px;
  background-color: #E2F3D5
}
option {
  font-family: "Indie Flower";
}
#limpiar {
  background-color: #254805;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#chat {
  background-color: #254805;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0px 0px 0px 10px;
}
#chatt {
  display:none;
}
#check {
  display: none;
}
.mostrar {
  display: none;
}

#resultados {
  padding: 0;
}

#resultados2 {
  display: none;
}

#facts {
  display: flex;
  background-color: rgb(34, 77, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  margin-left: 70px;
  font-family: "Itim";
  font-size: x-large;
  position: relative;
  top: 30px; 
}
.foco {
  position: relative;
  top: -20px;
}
#genero {
  display: flex;
  justify-content: center;
  font-family: "Indie Flower";
  line-height: 1.5;
  font-weight: 700;
  font-size: x-large;
  margin-top: 30px;/*100px*/
}
#contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}
ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
}
.listas {
  height: 300px;
  width: 200px;
  border-radius: 20px;
  border: 5px solid #014B9B;
  font-family: "Gluten";
  font-size: 100%;
  font-weight: 700;
  list-style-type: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("https://static.vecteezy.com/system/resources/previews/004/948/426/non_2x/cartoon-comic-cloud-copy-space-background-on-blue-free-vector.jpg");
  margin-bottom: 30px;
}
.listas img {
  width: 100%;
  height: 180px;
  border-radius: 15px;
}
dt {
  display:flex;
  justify-content: center;
  margin-left: 20px;
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

dd {
  display:flex;
  justify-content: center;
  margin-left: 40px;
  font-size: 16px;
  margin: 0;
  padding: 10px;
}
.footer {
  width: 100%;
  background-color: #7B3D87;
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
}
.mostrar,
.ocultar {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.menu {
  order: 1;
}
#check {
  display: none;
}


/*ABAJO AMBOS SON PARA CELULAR, SE SEPARAN PERO TIENEN EL MISMO CODIGO. ESTO EVITA QUE SE ROMPA EL CODIGO*/
@media (min-width: 280px) and (max-width: 350px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
   
    height: 80vh;
    display: flex;
    flex-direction: column;
  
    font-family: "Indie Flower";
  }
  
  .frontis {
    background-image: url("https://images3.alphacoders.com/591/591067.jpg") ;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
  }
  .header {
    display: flex;
    content: space-between;
  } 
  
  .imagenTitulo {
    width: 140px;
    height: 140px;
  }
  .imagenFamilia {
    width: 100px;
    height: 110px;
    margin-left: 40px;
  }
  main {
    background-color: #4A9F2D;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }

  #facts {
    background-color: rgb(34, 77, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 270px;
  }
  .foco {
    display: none;
  }
  #chat {
    display: none;
  }
  #resultados2 {
    display: block;
  }
  #resultados {
    display: none;
  }
  #chatt {
    background-color: #254805;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0px 0px 0px 10px;
  }
  
  .mostrar,
  .ocultar {
    display: block;
  }
  .mostrar {
    display: absolute;
    justify-items: end;
    font-size: 30px;
    cursor: pointer;
    top:5px;
    padding: 0;
  }
  .menu {
    position: absolute;
    width: 50%;
    height: 100vh;
    background: #86CA68;
    text-align: center;
    z-index: 100;
    right: 100%;
    transition: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 90px;
  }
  .menu label {
    display: block;
  }
  .ocultar {
    position: absolute;
    top: 10px;
  
  }
  #check:checked~.menu {
    right: 0;
  }
  h2 {
    display: none;
  }
  #genero {
    display: flex;
    justify-content: center;
    font-family: "Indie Flower";
    line-height: 1.5;
    font-weight: 700;
    font-size: x-large;
    margin-top: 200px;
  }
  #check {
    visibility: hidden;
  }
  
  ul {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
  }

  #contenedor {
    width: 100vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    position: relative;
  }
  #contenedor img {
    width: 100%;
    height: 150px;
  }
  .listas {
    display: flex;
    justify-content: center;
    margin-left: 23px;
  }

  label {
    color: #254805;
    font-family: "Indie Flower";
    font-size: x-large;
    font-weight: 900;
  }
  
  #root {
    display: flex;
    justify-content: center; 
  }
  .footer {
    width: auto ;
    background-color: #7B3D87;
    color: #fff;
    text-align: center;
    font-size: 12px;
    position: relative;
    padding: 8px;
  }
}

@media (min-width: 350px) and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
   
    height: 80vh;
    display: flex;
    flex-direction: column;
  
    font-family: "Indie Flower";
  }
  
  .frontis {
    background-image: url("https://images3.alphacoders.com/591/591067.jpg") ;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
  }
  .header {
    display: flex;
    content: space-between;
  } 
  
  .imagenTitulo {
    width: 140px;
    height: 140px;
  }
  .imagenFamilia {
    width: 100px;
    height: 110px;
    margin-left: 40px;
  }
  main {
    background-color: #4A9F2D;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }

  #facts {
    background-color: rgb(34, 77, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 270px;
  }
  .foco {
    display: none;
  }
  #chat {
    display: none;
  }
  #resultados2 {
    display: block;
  }
  #resultados {
    display: none;
  }
  #chatt {
    background-color: #254805;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0px 0px 0px 10px;
  }
  
  .mostrar,
  .ocultar {
    display: block;
  }
  .mostrar {
    display: absolute;
    justify-items: end;
    font-size: 30px;
    cursor: pointer;
    top:5px;
    padding: 0;
  }
  .menu {
    position: absolute;
    width: 50%;
    height: 100vh;
    background: #86CA68;
    text-align: center;
    z-index: 100;
    right: 100%;
    transition: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 90px;
  }
  .menu label {
    display: block;
  }
  .ocultar {
    position: absolute;
    top: 10px;
  
  }
  #check:checked~.menu {
    right: 0;
  }
  h2 {
    display: none;
  }
  #genero {
    display: flex;
    justify-content: center;
    font-family: "Indie Flower";
    line-height: 1.5;
    font-weight: 700;
    font-size: x-large;
    margin-top: 200px;
  }
  #check {
    visibility: hidden;
  }
  
  ul {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
  }

  #contenedor {
    width: 100vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    position: relative;
  }
  #contenedor img {
    width: 100%;
    height: 150px;
  }
  .listas {
    display: flex;
    justify-content: center;
    margin-left: 23px;
  }

  label {
    color: #254805;
    font-family: "Indie Flower";
    font-size: x-large;
    font-weight: 900;
  }
  
  #root {
    display: flex;
    justify-content: center; 
  }
  .footer {
    width: auto ;
    background-color: #7B3D87;
    color: #fff;
    text-align: center;
    font-size: 12px;
    position: relative;
    padding: 8px;
  }
}


@media (min-width: 600px) and (max-width: 750px) {}
@media (min-width: 750px) and (max-width: 850px) {}
@media (min-width: 850px) and (max-width: 3543px) {}
