@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@600&family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&display=swap");

/*VISTA DE HOME.JS*/
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://images3.alphacoders.com/591/591067.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  font-family: "Indie Flower";
}

#root {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.h1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.imagenTitulo {
  width: 200px;
  height: 180px;
}

.imagenFamilia {
  width: 215px;
  height: 160px;
}

main {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  width: 80%;
  height: 4vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #4a9f2d;
  border: 5px solid #347e19d3;
  padding: 5px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: larger;
  font-family: "Indie Flower";
}

.menu {
  width: 90%;
  height: 8vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #4a9f2d;
  border: 5px solid #347e19d3;
  padding: 0px;
  margin: 10px;
  border-radius: 30px;
  font-size: larger;
  font-family: "Indie Flower";
}

label {
  color: #254805;
  font-family: "Indie Flower";
  font-size: x-large;
  font-weight: 900;
  margin-right: 10px;
}

select {
  margin-right: 10px;
  padding: 5px;
  border: 3px solid #227000;
  border-radius: 5px;
  background-color: #e2f3d5;
}

option {
  font-family: "Indie Flower";
}

#limpiar {
  background-color: #254805;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#chat,
#api-key-btn {
  background-color: #254805;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0px 0px 0px 10px;
  position: relative;
  top: 10%;
}

#chatt {
  display: none;
}

#check {
  display: none;
}

.mostrar {
  display: none;
}

.ocultar {
  display: none;
}

#resultados {
  padding: 0;
}

#resultados2 {
  display: none;
}

#facts {
  display: flex;
  background-color: rgb(34, 77, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  margin-left: 70px;
  font-family: "Itim";
  font-size: x-large;
  position: relative;
  top: 30px;
}

#boton-regresar {
  display: flex;
  background-color: rgb(34, 77, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  margin-left: 70px;
  font-family: "Itim";
  font-size: x-large;
  position: relative;
  top: 225px;
  left: 35%;
  width: 8%;
  height: 11%;
  text-align: center;
}

.foco {
  position: relative;
  top: -20px;
}

#genero {
  display: flex;
  justify-content: center;
  font-family: "Indie Flower";
  line-height: 1.5;
  font-weight: 700;
  font-size: x-large;
  margin-top: 30px;

}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
}

ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
}

.listas {
  height: 300px;
  width: 200px;
  border-radius: 20px;
  border: 5px solid #014b9b;
  font-family: "Gluten";
  font-size: 100%;
  font-weight: 700;
  list-style-type: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)),
    url("https://static.vecteezy.com/system/resources/previews/004/948/426/non_2x/cartoon-comic-cloud-copy-space-background-on-blue-free-vector.jpg");
  margin-bottom: 30px;
}

.listas img {
  width: 100%;
  height: 180px;
  border-radius: 15px;
}

dt {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

dd {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  font-size: 16px;
  margin: 0;
  padding: 10px;
}

.menu {
  order: 1;
}

#check {
  display: none;
}

#detalleContenido .descripcion {
  width: 48%;
}

#chatIndivi {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-personaje {
  color: #FFFFFF;
  font-size: 30px;
  margin: 0;
  text-align: center;
  padding: 10px;
  background-color: #36B101;
  border-radius: 30px;
}

.chat-individual h1 {
  color: #FFFFFF;
  font-size: 24px;
  margin: 0;
}

.chat-input {
  margin-top: 20px;
  padding: 5px;
}

.send-button,
.back-button {
  margin-top: 10px;
  background-color: #227000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.contenedor-api-key h3 {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 35px;
  position: relative;
  padding: 15px;
  background-color: #4a9f2d;
  width: 100%;
  text-align: center;
  position: relative;
  top: 80px;
}

.contenedor-api-key input {
  display: block;
  width: 40%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 20px;
  margin: 10px;
  position: relative;
  left: 30%;
  font-family: gluten;
  padding: 15px;
  border-radius: 15px;
  position: relative;
  top: 150px;
}

.footer {
  width: 100%;
  background-color: #7b3d87;
  color: #fff;
  text-align: center;
  position: absolute;
  display: flex;
  bottom: -277px;
}

/*VISTA DE ERROR.JS*/
#error404 {
  background-color: #95dd78;
  width: 97%;
  height: 540px;
  display: flex;
  position: relative;
  display: flex;
  margin: 20px 20px 20px 20px;
}

.div {
  display: flex;
  flex-direction: column;
}

.doh {
  display: flex;
  font-family: Be Vietnam Pro;
  color: #FFFFFF;
  font-size: 100px;
  margin-top: 60px;
  margin-left: 40px;
  padding: auto;
}

.p {
  display: flex;
  font-family: Be Vietnam Pro;
  color: #FFFFFF;
  margin-top: 0;
  margin-left: 40px;
}

.donut {
  display: flex;
  justify-content: left;
  margin-left: 300px;
  margin-top: 60px;
  width: 390px;
  height: 530px;
}

/*CHAT INDIVIDUAL*/
.cajaFuerte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#caja {
  display: flex;
  justify-content: center;
  background-color: #61994a;
  width: 85%;
  margin-top: 0px;
  border-radius: 15px;
  flex-direction: column;
  height: 90vh;
  position: relative;
  top: 60px;
}

#detalles {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/Paulinakbrr/DEV012-dataverse-chat/main/Recursos%20visuales/clouds%20simpsons.jpg);
  border-radius: 15px 15px 0 0;
  position: relative;
  bottom: 39%;
}

.profile {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
}

.h1 {
  font-size: 24px;
  position: relative;
  margin-top: 10px;
}

.uno {
  margin: 0 10px 0 10px;
}

#text-chat {
  display: grid;
  width: 98%;
  margin: 10px;
  font-family: gluten;
  padding: 20px 1px 1px;
  font-size: medium;
  text-align: center;
  height: 50px;
  position: relative;
  bottom: 247px;
}

#icono-chat {
  height: 50px;
  border-radius: 100%;
  position: relative;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 30%;
}

#chat-magic {
  display: flex;
  position: relative;
  width: 95%;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  bottom: 10%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-y: scroll;
  text-align: start;
  padding: 20px;
  bottom: 30px;
  height: 360px;
  text-align: left;
}

#chat-magic p {
  display: flex;
  background-color: #2270005c;
  padding: 12px;
  border-radius: 11px;
}

.chat-messages p.chatGPTres {
  display: flex;
  background-color: #cc1a1a5c;
  padding: 12px;
  border-radius: 11px;
}

.chatinput {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 35px;
  margin-top: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  justify-content: flex-start;
  top: -26%;
}

.backbutton {
  width: 50%;
  height: 30%;
  padding: 10px;
  margin-top: 10px;
  background-color: #61994a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendbutton {
  margin-top: 10px;
  background-color: transparent;
  cursor: pointer;
  font-family: gluten;
  border: 0;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  position: relative;
  left: 90%;
  bottom: 20%;
}

.senddbbuton {
  width: 40px;
  height: 40px;
  position: relative;
  left: 150%;
  bottom: 102%;
}

.backbutton {
  background-color: #ffd401;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: gluten;
  font-size: x-large;
  position: relative;
  left: 34%;
  width: 16%;
  height: 35px;
  position: relative;
  top: 70px;
}

.back-button {
  background-color: #ffd401;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: gluten;
  font-size: x-large;
  position: relative;
  left: 34%;
  width: 16%;
  height: 20px;
}

.boton-aceptar {
  background-color: #ffd401;
  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: gluten;
  font-size: x-large;
  position: relative;
  left: 50%;
  top: 180px;
}

/*Chat grupal*/
#chatContenido {
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  width: 90%;
}

.chat-header {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.chat-messages {
  max-height: 200px;
  box-sizing: border-box;
  overflow-y: scroll;
  text-align: right;
  padding: 20px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
}

.chat-messages p {
  display: flex;
  background-color: #95dd7773;
  padding: 12px;
  border-radius: 11px;
}

.chat-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 42px;
}

.send-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #45A049;
}

#estadoEscribiendo,
#chat-input {
  position: relative;
  bottom: 150%;
  font-size: 15px;
  right: 43%;
}

.volverInicio {
  background-color: rgb(34 77 0 / 15%);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 20px;
  left: 10%;
}

/*ABAJO AMBOS SON PARA CELULAR, SE SEPARAN PERO TIENEN EL MISMO CODIGO. ESTO EVITA QUE SE ROMPA EL CODIGO*/
@media (min-width: 280px) and (max-width: 350px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    font-family: "Indie Flower";
    background-image: url(https://raw.githubusercontent.com/Daniipuff/DEV012-dataverse-chat/main/Recursos%20visuales/clouds%20simpsons.jpg);
  }

  #root {
    display: grid;
    align-items: center;
  }

  .frontis {
    background-image: url("https://images3.alphacoders.com/591/591067.jpg");
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
  }

  .header {
    display: flex;
    content: space-between;
    margin-top: 0;
  }

  .imagenTitulo {
    width: 140px;
    height: 140px;
  }

  .imagenFamilia {
    width: 100px;
    height: 110px;
    margin-left: 20px;
  }

  main {
    display: flex;
    background-color: #4A9F2D;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }

  nav {
    position: relative;
    display: flex;
    height: 40px;
    padding-top: 10px;
    justify-content: center;
  }

  .menu {
    display: grid;
    padding-top: 20px;
    padding-left: 20px;
    width: 150px;
    height: 55vh;
    background: #4A9F2D;
    z-index: 100;
    transition: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 60px;
    border-radius: revert;
    border-color: #4A9F2D;
    position: absolute;
    top: 20%;
  }


  #facts {
    display: block;
    background-color: rgb(34, 77, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 270px;
  }

  .foco {
    display: none;
  }

  #chat {
    display: none;
  }

  #resultados2 {
    display: block;
  }

  #resultados {
    display: none;
  }

  #chat {
    display: block;
    background-color: #254805;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0px 0px 0px 10px;
    position: relative;
    right: 7%;
  }

  #api-key-btn {
    background-color: #254805;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0px 0px 0px 10px;
    position: relative;
    top: 10px;
    display: flex;
    left: 35%;
  }

  select {
    margin-right: 10px;
    padding: 5px;
    border: 3px solid #227000;
    border-radius: 5px;
    background-color: #e2f3d5;
    width: 70%;
  }

  #check {
    display: block;
    position: absolute;
    width: 20px;
    height: 30px;
    opacity: 0;
  }

  .menu label {
    display: block;
  }

  label {
    color: #040700;
    font-family: "Indie Flower";
    font-size: x-large;
    font-weight: 900;
  }

  .ocultar {
    justify-items: center;
    font-family: none;
    font-size: 40px;
    pointer-events: none;
    cursor: pointer;
    bottom: 5px;
    padding: 0;
    position: relative;
  }

  .mostrar {
    display: block;
    justify-items: center;
    font-size: 30px;
    pointer-events: none;
    cursor: pointer;
    top: 5px;
    padding: 0;
  }

  .menu {
    display: none;
  }

  #check:checked~.menu {
    display: block;
  }

  #check:checked~.mostrar {
    display: none;
  }

  #check:checked~.ocultar {
    display: block;
  }

  h2 {
    display: none;
  }

  #genero {
    display: flex;
    justify-content: center;
    font-family: "Indie Flower";
    line-height: 1.5;
    font-weight: 700;
    font-size: x-large;
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dl {
    width: 100%;
  }

  #contenedor {
    width: 100vw;
    max-width: 1000px;
    margin: auto;
    position: relative;
  }

  #contenedor img {
    width: 100%;
    height: 150px;
  }

  /*Chat individual*/
  .cajaFuerte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #caja {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 0px;
    border-radius: 15px;
  }

  #detalles {
    display: flex;
    flex-direction: column;
    order: -1;
    justify-content: center;
    align-items: center;
    width: 100.7%;
    background-color: #61994a;
    background-image: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .profile {
    display: none;
  }

  .h1 {
    font-size: 10px;
  }

  .uno {
    font-size: 8px;
    margin: 0 10px 0 10px;
  }

  #text-chat {
    width: 100%;
    height: fit-content;
    font-family: gluten;
    background-color: #61994a;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }

  #icono-chat {
    width: 100%;
    height: 40px;
  }

  #icono-chat img {
    position: relative;
    right: 38%;
    bottom: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
  }

  #chat-magic {
    display: flex;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/Daniipuff/DEV012-dataverse-chat/main/Recursos%20visuales/clouds%20simpsons.jpg);
    background-color: rgba(255, 255, 255, 0.461);
    background-blend-mode: overlay;
    position: relative;
    margin: 0;
    border-radius: 0;
  }

  .chatinput {
    width: 90%;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .backbutton {
    width: 50%;
    height: 30%;
    padding: 10px;
    margin-top: 10px;
    background-color: #61994a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .sendbutton {
    margin-top: 10px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    width: 30px;
    height: 26px;
    position: relative;
    bottom: 0;
  }

  .senddbbuton {
    width: 20px;
    height: 20px;
  }

  .backbutton,
  .back-button {
    background-color: #ffd401;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: gluten;
    font-size: 12px;
    position: relative;
    width: 25%;
    margin: 5px 40px 0 0;
  }

  .boton-aceptar {
    background-color: #ffd401;
    border-radius: 10px;
    padding: 10px 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: gluten;
    font-size: x-large;
  }

  .footer {
    width: 100%;
    background-color: #7b3d87;
    color: #fff;
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: -66%;
  }

  #limpiar {
    background-color: #254805;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    top: 35%;
    left: 20%;
    display: flex;
  }

  /*pantalla de error*/
  #error404 {
    display: flex;
    flex-direction: column;
    background-color: #95dd78;
    width: 88%;
    position: relative;
    height: 550px;
  }

  .div {
    display: flex;
    flex-direction: column;
  }

  .doh {
    display: flex;
    font-family: Be Vietnam Pro;
    color: #FFFFFF;
    font-size: 60px;
    margin-top: 50px;
    margin-left: 0;
    padding: auto;
    justify-content: center;
  }

  .manito {
    display: flex;
    flex-direction: column;
    font-family: Be Vietnam Pro;
    color: #FFFFFF;
    height: 45%;
    position: absolute;
    left: 1%;
    bottom: -120px;
  }

  .p {
    display: flex;
    font-family: Be Vietnam Pro;
    color: #FFFFFF;
    position: relative;
    top: 50%;
    text-align: center;
    margin-left: 5px;
    padding: 5px;
  }

  .donut {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    height: 530px;
    width: 0;
  }

  .volverInicio {
    background-color: rgb(34 77 0 / 15%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 60%;
    display: flex;
    position: relative;
    left: 25%;
  }
}

@media (min-width: 350px) and (max-width: 522px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    font-family: "Indie Flower";
    background-image: url(https://raw.githubusercontent.com/Daniipuff/DEV012-dataverse-chat/main/Recursos%20visuales/clouds%20simpsons.jpg);
  }

  #root {
    display: grid;
    align-items: center;
  }

  .frontis {
    background-image: url("https://images3.alphacoders.com/591/591067.jpg");
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
  }

  .header {
    display: flex;
    content: space-between;
    margin-top: 0;
  }

  .imagenTitulo {
    width: 140px;
    height: 140px;
  }

  .imagenFamilia {
    width: 100px;
    height: 110px;
    margin-left: 20px;
  }

  main {
    display: flex;
    background-color: #4A9F2D;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }

  nav {
    position: relative;
    display: flex;
    height: 40px;
    padding-top: 10px;
    justify-content: center;
  }

  .menu {
    display: grid;
    padding-top: 20px;
    padding-left: 20px;
    width: 150px;
    height: 55vh;
    background: #4A9F2D;
    z-index: 100;
    transition: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 60px;
    border-radius: revert;
    border-color: #4A9F2D;
    position: absolute;
    top: 20%;
  }

  #facts {
    background-color: rgb(34, 77, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 270px;
  }

  .foco {
    display: none;
  }

  #chat {
    display: none;
  }

  #resultados2 {
    display: block;
  }

  #resultados {
    display: none;
  }

  #chat {
    display: block;
    background-color: #254805;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0px 0px 0px 10px;
    position: relative;
    top: 5%;

  }

  #check {
    display: block;
    position: absolute;
    width: 20px;
    height: 30px;
    opacity: 0;
  }

  .menu label {
    display: block;
  }

  label {
    color: #040700;
    font-family: "Indie Flower";
    font-size: x-large;
    font-weight: 900;
  }

  .ocultar {
    justify-items: center;
    font-family: none;
    font-size: 40px;
    pointer-events: none;
    cursor: pointer;
    bottom: 5px;
    padding: 0;
    position: relative;
  }

  .mostrar {
    display: block;
    justify-items: center;
    font-size: 30px;
    pointer-events: none;
    cursor: pointer;
    top: 5px;
    padding: 0;
  }

  .menu {
    display: none;
  }

  #check:checked~.menu {
    display: block;
  }

  #check:checked~.mostrar {
    display: none;
  }

  #check:checked~.ocultar {
    display: block;
  }

  h2 {
    display: none;
  }

  #genero {
    display: flex;
    justify-content: center;
    font-family: "Indie Flower";
    line-height: 1.5;
    font-weight: 700;
    font-size: x-large;
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dl {
    width: 100%;
  }

  #contenedor {
    width: 100vw;
    max-width: 1000px;
    margin: auto;
    position: relative;
  }

  #contenedor img {
    width: 100%;
    height: 150px;
  }

  /*Chat individual*/
  .cajaFuerte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #caja {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 0px;
    border-radius: 15px;
  }

  #detalles {
    display: flex;
    flex-direction: column;
    order: -1;
    justify-content: center;
    align-items: center;
    width: 100.7%;
    background-color: #61994a;
    background-image: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .profile {
    display: none;
  }

  .h1 {
    font-size: 10px;
  }

  .uno {
    font-size: 8px;
    margin: 0 10px 0 10px;
  }

  #text-chat {
    width: 100%;
    height: fit-content;
    font-family: gluten;
    background-color: #61994a;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }

  #icono-chat {
    width: 100%;
    height: 40px;
  }

  #icono-chat img {
    position: relative;
    right: 38%;
    bottom: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
  }

  #chat-magic {
    display: flex;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/Daniipuff/DEV012-dataverse-chat/main/Recursos%20visuales/clouds%20simpsons.jpg);
    background-color: rgba(255, 255, 255, 0.461);
    background-blend-mode: overlay;
    position: relative;
    margin: 0;
    border-radius: 0;

  }

  .chatinput {
    width: 90%;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .backbutton {
    width: 50%;
    height: 30%;
    padding: 10px;
    margin-top: 10px;
    background-color: #61994a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .sendbutton {
    margin-top: 10px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    width: 30px;
    height: 26px;
    position: relative;
    bottom: 0;
  }

  .senddbbuton {
    width: 20px;
    height: 20px;
  }

  .backbutton,
  .back-button {
    background-color: #ffd401;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: gluten;
    font-size: 12px;
    position: relative;
    width: 25%;
    margin: 5px 40px 0 0;
  }

  .boton-aceptar {
    background-color: #ffd401;
    border-radius: 10px;
    padding: 10px 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: gluten;
    font-size: x-large;
  }

  .footer {
    width: 100%;
    background-color: #7b3d87;
    color: #fff;
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: -66%;
  }

  #limpiar {
    background-color: #254805;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    top: 35%;
    right: 50%;

  }
}

@media (min-width: 522px) and (max-width: 750px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    font-family: "Indie Flower";
    background-image: url(https://raw.githubusercontent.com/Daniipuff/DEV012-dataverse-chat/main/Recursos%20visuales/clouds%20simpsons.jpg);
  }

  #root {
    display: grid;
    align-items: center;
  }

  .frontis {
    background-image: url("https://images3.alphacoders.com/591/591067.jpg");
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
  }

  .header {
    display: flex;
    content: space-between;
    margin-top: 0;
  }

  .imagenTitulo {
    width: 140px;
    height: 140px;
  }

  .imagenFamilia {
    width: 100px;
    height: 110px;
    margin-left: 20px;
  }

  main {
    display: flex;
    background-color: #4A9F2D;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }

  nav {
    position: relative;
    display: flex;
    height: 40px;
    padding-top: 10px;
    justify-content: center;
  }

  .menu {
    display: grid;
    padding-top: 20px;
    padding-left: 20px;
    width: 150px;
    height: 55vh;
    background: #4A9F2D;
    z-index: 100;
    transition: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 60px;
    border-radius: revert;
    border-color: #4A9F2D;
    position: absolute;
    top: 20%;
  }

  #facts {
    background-color: rgb(34, 77, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 270px;
  }

  .foco {
    display: none;
  }

  #chat {
    display: none;
  }

  #resultados2 {
    display: block;
  }

  #resultados {
    display: none;
  }

  #chat {
    display: block;
    background-color: #254805;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0px 0px 0px 10px;
  }

  #check {
    display: block;
    position: absolute;
    width: 20px;
    height: 30px;
    opacity: 0;
  }

  .menu label {
    display: block;
  }

  label {
    color: #040700;
    font-family: "Indie Flower";
    font-size: x-large;
    font-weight: 900;
  }

  .ocultar {
    justify-items: center;
    font-family: none;
    font-size: 40px;
    pointer-events: none;
    cursor: pointer;
    bottom: 5px;
    padding: 0;
    position: relative;
  }

  .mostrar {
    display: block;
    justify-items: center;
    font-size: 30px;
    pointer-events: none;
    cursor: pointer;
    top: 5px;
    padding: 0;
  }

  .menu {
    display: none;
  }

  #check:checked~.menu {
    display: block;
  }

  #check:checked~.mostrar {
    display: none;
  }

  #check:checked~.ocultar {
    display: block;
  }

  h2 {
    display: none;
  }

  #genero {
    display: flex;
    justify-content: center;
    font-family: "Indie Flower";
    line-height: 1.5;
    font-weight: 700;
    font-size: x-large;
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .dl {
    width: 100%;
  }

  #contenedor {
    width: 100vw;
    max-width: 1000px;
    margin: auto;
    position: relative;
  }

  #contenedor img {
    width: 100%;
    height: 150px;
  }

  /*Chat individual*/
  .cajaFuerte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #caja {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 0px;
    border-radius: 15px;
  }

  #detalles {
    display: flex;
    flex-direction: column;
    order: -1;
    justify-content: center;
    align-items: center;
    width: 100.7%;
    background-color: #61994a;
    background-image: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .profile {
    display: none;
  }

  .h1 {
    font-size: 10px;
  }

  .uno {
    font-size: 8px;
    margin: 0 10px 0 10px;
  }

  #text-chat {
    width: 100%;
    height: fit-content;
    font-family: gluten;
    background-color: #61994a;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }

  #icono-chat {
    width: 100%;
    height: 40px;
  }

  #icono-chat img {
    position: relative;
    right: 38%;
    bottom: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
  }

  #chat-magic {
    display: flex;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/Daniipuff/DEV012-dataverse-chat/main/Recursos%20visuales/clouds%20simpsons.jpg);
    background-color: rgba(255, 255, 255, 0.461);
    background-blend-mode: overlay;
    position: relative;
    margin: 0;
    border-radius: 0;
  }

  .chatinput {
    width: 90%;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .backbutton {
    width: 50%;
    height: 30%;
    padding: 10px;
    margin-top: 10px;
    background-color: #61994a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .sendbutton {
    margin-top: 10px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    width: 30px;
    height: 26px;
    position: relative;
    bottom: 0;
  }

  .senddbbuton {
    width: 20px;
    height: 20px;
  }

  .backbutton,
  .back-button {
    background-color: #ffd401;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: gluten;
    font-size: 12px;
    position: relative;
    width: 25%;
    margin: 5px 40px 0 0;
  }

  .boton-aceptar {
    background-color: #ffd401;
    border-radius: 10px;
    padding: 10px 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: gluten;
    font-size: x-large;
  }

  .footer {
    width: 100%;
    background-color: #7b3d87;
    color: #fff;
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: -66%;
  }

  #limpiar {
    background-color: #254805;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    top: 35%;
    right: 50%;
  }
}

@media (min-width: 750px) and (max-width: 850px) {}

@media (min-width: 850px) and (max-width: 3543px) {}